/* SIROTILLO */

/* CAREER SECTION */
#career {
  padding-top: 100px;
  padding-bottom: 96px;
}

.career__wrap {
  position: relative;
}

.career__shapes {
  position: absolute;
  right: 0;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #232536;
  opacity: 0.87;
}

.career__subtitle {
  margin-top: 24px;
}

.subtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
}

.career__paragraph {
  margin-top: 24px;
}

.paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.87;
}

.career__title-bg {
  font-size: 300px;
  background-image: url(../img/career.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.career__positions {
  margin-top: 54px;
}

.career__icon {
  margin-top: 20px;
}
/* /CAREER SECTION */


/* VACANCY SECTION */
.vacancies__wrap {
  padding: 78px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3em;
  background: #ECF8F9;
}

.vacancy {
  padding: 48px;
  width: 354px;
  height: 243px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.vacancy:hover {
  box-shadow: 0px 0px 31px -6px rgba(0, 144, 255, 0.2);
}

.vacancy__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

.vacancy__job-type {
  margin-top: 10px;
}

.vacancy__job-type,
.vacancy__job-salary {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  opacity: 0.6;
}

.vacancy__btn {
  margin-top: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5D5FEF;
}

.vacancy__icon {
  position: relative;
  top: 2px;
  margin-left: 12px;
  transform: rotate(180deg);
  color: #000;
}
/* /VACANCY SECTION */


/* CULTURE SECTION */
#culture {
  margin-top: 96px;
  padding: 96px 0 96px 0;
  background: #FAFAFC;
}

.culture__subtitle {
  margin-top: 16px;
}

.culture__paragraph {
  margin-top: 24px;
}

.culture__cards {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 14px;
}

.culture__card {
  padding: 32px;
  width: 419px;
  height: 188px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.culture__card:hover {
  box-shadow: 0px 0px 31px -6px rgba(133, 133, 133, 0.2);
}

.culture__card-desc::before {
  content: '';
  display: inline-block;
  width: 39.95px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 211, 175, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
}

.culture__card:nth-child(1) .culture__card-desc::before {
  background-image: url(../img/icon1.png);
}
.culture__card:nth-child(2) .culture__card-desc::before {
  background-image: url(../img/icon2.png);
}
.culture__card:nth-child(3) .culture__card-desc::before {
  background-image: url(../img/icon3.png);
}
.culture__card:nth-child(4) .culture__card-desc::before {
  background-image: url(../img/icon4.png);
}
.culture__card:nth-child(5) .culture__card-desc::before {
  background-image: url(../img/icon5.png);
}
.culture__card:nth-child(6) .culture__card-desc::before {
  background-image: url(../img/icon6.png);
}

.culture__card-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

.culture__card-p {
  margin-top: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  opacity: 0.6;
}
/* /CULTURE SECTION */





/* SIROTILLO 2-PAGE */